h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ol,ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    cursor: pointer;
}
a:focus {
    outline: none;
}
*:focus {
    outline: none;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

//顏色
.c-ffe100 {
    color: #ffe100;
}
.c-37eaff {
    color: #37eaff;
}
.c-ff7800 {
    color: #ff7800;
    &:before {
        color: #ff7800;
    }
}
.c-00fef9 {
    color: #00fef9;
}
.c-ffffff {
    color: #ffffff;
}
.c-9400ff {
    color: #9400ff;
}
.c-f15b00 {
    color: #f15b00;
}

//連結屬性
.l-nolink {
    cursor: default;
}

//文字屬性
.l-underline {
    text-decoration: underline;
}
.l-hover:hover {
    opacity: .8;
    transition: opacity .2s linear;
}

//List
//數字型List
.l-list-n1 {
    padding: 0 0 0 1.8rem;
    >li {
        list-style: decimal;
    }
}
.l-list-n2 {
    padding: 0 0 0 1.8rem;
    >li {
        list-style: decimal-leading-zero;
    }
}
.l-list-n3 {
    @include position(relative);
    >li {
        padding: 0 0 0 2rem;
        counter-increment: cnt;
        list-style: none;
        &:before {
            display: marker;
            content: "("counter(cnt)") ";
            text-align: right;
            @include position(absolute);
            margin: 0 0 0 -2.2em;
            width: 2em;
            
        }
    }
}

//符號型List
.l-list-type1 {
    padding: 0;
    @include position(relative);
    >li {
        padding: 0 0 0 1em;
        &:before {
            content: '★ ';
            @include position(absolute);
            margin: 0 0 0 -1em;
        }
    }
}

.l-list-type2 {
    padding: 0;
    >li {
        list-style: none;
        padding: 0 0 0 1em;
        &:before {
            content: '◆ ';
            @include position(absolute);
            margin: 0 0 0 -1em;
        }
    }
}

//文字型List
.l-list-t3 {
    padding:0 0 0 3em;
    &:before {
        content: '舉例：';
        @include position(absolute);
        margin: 0 0 0 -3em;
    }
}

